*.log
/sport/.DS_Store
/sport/.env
/sport/.env.backup
/sport/.env.production
/sport/.phpactor.json
/sport/.phpunit.result.cache
/sport/.fleet
/sport/.idea
/sport/.nova
/sport/.phpunit.cache
/sport/.vscode
/sport/.zed
/sport/auth.json
/sport/node_modules
/sport/public/build
/sport/public/hot
/sport/public/storage
/sport/storage/*.key
/sport/storage/pail
/sport/vendor
/sport/Homestead.json
/sport/Homestead.yaml